.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
  text-align: center;
  background: linear-gradient(135deg, #1f1c2c, #b2abda);
  color: white;
  position: relative;
}

@media(min-width: 992px){
  .hero-section {
    flex-direction: row;
    text-align: left;
    padding: 0 5rem;
  }
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content .highlight {
  color: #ff4081;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-buttons .btn {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px;
  transition: 0.3s;
}

.btn-primary {
  background: #ff4081;
  border: none;
}

.btn-primary:hover {
  background: #e73370;
}

.btn-outline-light {
  border: 2px solid #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background: #ff4081;
  border: none;
  color: white;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero-image img {
  height: 410px; /* Desktop ke liye */
  width: auto;
  position: relative;
  left: 40px;
  border-radius: 50%; /* Circular profile look */
 border: 3px solid rgb(206, 128, 128);
  box-shadow: 0 20px 40px rgba(209, 5, 5, 0.4); /* Premium shadow effect */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Hover effect - thoda zoom + glow */
.hero-image img:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}


/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-image img {
    height: 300px; /* Mobile / Tablet */
  }
}

@media (max-width: 576px) {
  .hero-image img {
    height: 220px; /* Small mobile */
  }
}
@media(min-width: 992px){
  .hero-image img {
    margin-bottom: 0;
    max-width: 400px;
  }
}
